<div class="row justify-content-center">
    <div class="col-auto">
    <table class="table table-bordered">
        <thead class="thead bg-warning text-light">
            <tr class="text-dark">
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Streets</th>
            <th>city</th>
            <th>Zipcode</th>
            <th>Lattitude</th>
            <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of datas">
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td>{{d.username}}</td>
                <td>{{d.email}}</td>
                <td>{{d.address.street}}</td>
                <td>{{d.address.city}}</td>
                <td>{{d.address.zipcode}}</td>
                <td>{{d.address.geo.lat}}</td>
                <td>{{d.address.geo.lng}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

