<div class="row justify-content-center">
    <div class="col-auto">
    <table class="table table-bordered">
        <thead class="thead bg-warning text-light">
            <tr class="text-dark">
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of datas">
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td>{{d.username}}</td>
                <td>{{d.email}}</td>
                <td>{{d.phone}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

