<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="./assets/logo/companyLogo64.png" width="30" height="30" class="d-inline-block align-top" alt="Brand-Logo">
        <span class="a">P</span>
        <span class="b">a</span>
        <span class="c">l</span>
        <span class="d">e</span>
        <span class="e">t</span>
        <span class="f">t</span>
        <span class="g">e</span>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" >
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Colors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Blogs</a>
            </li>

        </ul>
    </div>
</nav>