@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,500;1,600&display=swap');

.navbar-brand{
    font-family: 'Grandstander', cursive; 
    padding-left: 4px;
}
.a{
    color: #eaf4f4;
    padding-left: 4px;
}
.b{
    color: #ffd670;
}
.c{
    color: #ff70a6;
}
.d{
    color: #70d6ff;
}
.e{
    color: #e9ff70;
}
.f{
    color: #38a3a5;
}
.g{
    color: #ff5a5f;
}