<div class="container ">
    <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8 overflow-auto">
        <div class="row" *ngFor="let color of colors">
            <!-- color status = 1 -->
            <div class="copyd col-md-1 a1 amp-1 btn" (click)="copy('#a1')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a1">{{color.a1}}</h4>
            </div>
            <!-- color status = 2 -->
            <div class="copyd col-md-1 a2 amp-1 btn" (click)="copy('#a2')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a2">{{color.a2}}</h4>
            </div>
            <!-- color status = 3 -->
            <div class="copyd col-md-1 a3 amp-1 btn" (click)="copy('#a3')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a3">{{color.a3}}</h4>
            </div>
            <!-- color status = a4 -->
            <div class="copyd col-md-1 a4 amp-1 btn" (click)="copy('#a4')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a4">{{color.a4}}</h4>
            </div>
            <!-- color status = a5 -->
            <div class="copyd col-md-1 a5 amp-1 btn" (click)="copy('#a5')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a5">{{color.a5}}</h4>
            </div>
            <!-- color status = a6 -->
            <div class="copyd col-md-1 a6 amp-1 btn" (click)="copy('#a6')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a6">{{color.a6}}</h4>
            </div>
            <!-- color status = a7 -->
            <div class="copyd col-md-1 a7 amp-1 btn" (click)="copy('#a7')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a7">{{color.a7}}</h4>
            </div>
            <!-- color status = a8 -->
            <div class="copyl col-md-1 a8 amp-1 btn" (click)="copy('#a8')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a8">{{color.a8}}</h4>
            </div>
            <!-- color status = a9 -->
            <div class="copyl col-md-1 a9 amp-1 btn" (click)="copy('#a9')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a9">{{color.a9}}</h4>
            </div>
            <!-- color status = a10 -->
            <div class="copyl col-md-1 a10 amp-1 btn" (click)="copy('#a10')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a10">{{color.a10}}</h4>
            </div>
            <!-- color status = a11 -->
            <div class="copyl col-md-1 a11 amp-1 btn" (click)="copy('#a11')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a11">{{color.a11}}</h4>
            </div>
            <!-- color status = a12 -->
            <div class="copyl col-md-1 a12 amp-1 btn" (click)="copy('#a12')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a12">{{color.a12}}</h4>
            </div>
            <!-- color status = a13 -->
            <div class="copyd col-md-1 a13 amp-1 btn" (click)="copy('#a13')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a13">{{color.a13}}</h4>
            </div>
            <!-- color status = a14 -->
            <div class="copyd col-md-1 a14 amp-1 btn" (click)="copy('#a14')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a14">{{color.a14}}</h4>
            </div>
            <!-- color status = a15 -->
            <div class="copyd col-md-1 a15 amp-1 btn" (click)="copy('#a15')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a15">{{color.a15}}</h4>
            </div>
            <!-- color status = a16 -->
            <div class="copyd col-md-1 a16 amp-1 btn" (click)="copy('#a16')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a16">{{color.a16}}</h4>
            </div>
            <!-- color status = a17 -->
            <div class="copyd col-md-1 a17 amp-1 btn" (click)="copy('#a17')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a17">{{color.a17}}</h4>
            </div>
            <!-- color status = a18 -->
            <div class="copyd col-md-1 a18 amp-1 btn" (click)="copy('#a18')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a18">{{color.a18}}</h4>
            </div>
            <!-- color status = a19 -->
            <div class="copyd col-md-1 a19 amp-1 btn" (click)="copy('#a19')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a19">{{color.a19}}</h4>
            </div>
            <!-- color status = a20 -->
            <div class="copyd col-md-1 a20 amp-1 btn" (click)="copy('#a20')" (mouseleave)="moved()"><span *ngIf="mytext; else copied">Copy</span>
                <ng-template #copied >Copied</ng-template>
                <h4 id="a20">{{color.a20}}</h4>
            </div>
            
            
    </div>
    </div>


    <div class="col-md-4 justify-content-center align-items-start">
        <app-side-panel></app-side-panel>
    </div>
</div>
